{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CataLog</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
    <nav>
        <h2>CataLog</h2>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="#">Map</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Community</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="/accounts/logout/">Logout</a></li>
            {% else %}
                <li><a href="/accounts/login/">Login</a></li>
            {% endif %}

        </ul>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>