{% extends "base.html" %}
{% load static %}

{% block title %}Home | CataLog{% endblock %}

{% block extra_head %}
<!-- Add page-specific <head> content here if needed -->
{% endblock %}

{% block content %}
<!-- Passing the mapbox token to JS -->
<script>
    const MAPBOX_TOKEN = "{{ MAPBOX_TOKEN }}";
</script>

<!-- Mapbox map -->
<div id="map"></div>
<button id="add-tree-btn" class="add-tree-btn">Add Tree</button>

{% endblock %}

{% block scripts %}
<script src="{% static 'home/map.js' %}"></script>
{% endblock %}